<h2 class="screen-align">Searchtickets</h2>
<div id="template-i7u2" class="row">
    <div id="template-i50u" class="cell">
        <label id="template-i4xo" class="label">name</label>
        <input id="template-iawul" placeholder="enter ticket name"
        [(ngModel)]="tickets.name" [ngModelOptions]="{standalone: true}" class="input form-control"
        />
    </div>
    <div id="template-iz3h" class="cell">
        <label id="template-iht92" class="label">description</label>
        <input id="template-ic3h8" placeholder="enter short description"
        [(ngModel)]="tickets.description" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-i6ei" class="cell">
        <label id="template-i66gy" class="label">types</label>
        <div id="template-ihz9g" class="">
            <ng-select id="template-iqkl9" name="dynamicdropdown_template-iqkl9" [searchable]="true"
            [virtualScroll]="true" [items]="servicetypesitemArray" bindLabel="name"
            bindValue="name" [(ngModel)]="tickets.types" [ngModelOptions]="{standalone: true}"
            (click)="servicetypesGpGetAllValues()" class="form-control"></ng-select>
        </div>
    </div>
</div>
<div id="template-i1ab" class="row">
    <div id="template-itir" class="cell">
        <label id="template-ig8lj" class="label">severity</label>
        <div id="template-i9s41" class="">
            <ng-select id="template-iv0f3" name="dynamicdropdown_template-iv0f3" [searchable]="true"
            [virtualScroll]="true" [items]="SeverityitemArray" bindLabel="name" bindValue="name"
            [(ngModel)]="tickets.severity" [ngModelOptions]="{standalone: true}" (click)="SeverityGpGetAllValues()"
            class="form-control"></ng-select>
        </div>
    </div>
    <div id="template-injw" class="cell">
        <label id="template-ivgkh" class="label">Assignee</label>
        <div id="template-ii5pk" class="">
            <ng-select id="template-iyn96" name="dynamicdropdown_template-iyn96" [searchable]="true"
            [virtualScroll]="true" [items]="assigneesitemArray" bindLabel="name" bindValue="name"
            [(ngModel)]="tickets.assignee" [ngModelOptions]="{standalone: true}" (click)="assigneesGpGetAllValues()"
            class="form-control"></ng-select>
        </div>
    </div>
    <div id="template-ite8" class="cell"></div>
</div>
<button id="template-ikjdz" (click)="GpSearch()" class="button btn btn-primary">Search</button>
<div name="grid_template-i3c9z" id="template-i3c9z">
    <ag-grid-angular #agGrid style="width: 100%; height: 100%;" id="myGrid"
    class="ag-theme-balham" [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="paginationPageSize"
    [defaultColDef]="defaultColDef" [rowData]="rowData" [rowSelection]="rowSelection"
    (gridReady)="onGridReady($event)" domLayout='autoHeight' (selectionChanged)="onSelectionChanged($event)"></ag-grid-angular>
</div>
<div id="myGrid" class=""></div>