* { box-sizing: border-box; } body {margin: 0;}#template-ipjr{padding-top:10px;padding-right:2px;padding-left:2px;padding-bottom:10px;}#myGrid{width:auto;height:32%;}@media (max-width: 480px){#template-ipjr{width:auto;}}

